@charset "UTF-8";
.box{
display: flex;
justify-content: center;
}
.Button,.Button2{
  margin: 0 30px 0 0;
  padding: 0 15px 0 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}
.red1,.red2,.red3{
  color: #fff;
  background: #fd0f0fd9;
}
.blue1,.blue2,.blue3{
  color: #fff;
  background: #170ffdd9;
}
.green1,.green2,.green3{
  color: #000;
  background: #0ffd0fd9;
}
.red2,.red3{
  box-shadow:0 5px 0 0 rgba(63,5,5,0.851);
}
.blue2,.blue3{
  box-shadow:0 5px 0 0 rgba(5,13,63,0.851);
}
.green2,.green3{
  box-shadow:0 5px 0 0 rgba(5, 63, 5, 0.851);
}
.Button2:active{
  box-shadow: none;
  transform:translate(0,5px);
}
.style1{
  color: #67c5ff;
  border: 4px #67c5ff;
  border-style: double;
  transition: 0.5s;
}
.style2{
  color:#67c5ff;
  border: 4px #75caff;
  border-style: dotted;
}
.style3{
  color:#0079a5f8;
  background: #d0edfff8;
  border: 4px #67c5ff;
  border-style: dashed;
  transition: 0.5s;
}
.style1:hover{
  background: #fffbef;
  transition: 0.5s;
}
.style2:hover{
  border-style: dashed;
}
.style3:hover{
  color: #67c5ff;
  background: #ffffff;
  transition: 0.5s;
}