@charset "UTF-8";
.bg2,.bg3,.bg4{
  background-repeat: no-repeat;
}
.bg3{
  background-size: cover;
}
.bg3,.bg4{
  background-position: center center;
}
.bg4{
  background-size: contain;
}
.bg1,.bg2,.bg3,.bg4{
  background-image: url("../../image/coffee-background.jpg");
  height: 500px;
}