@charset "UTF-8";
.box{
  margin: 0 auto;
  width: 500px;
}
.text{
  background: #fad296;
  width: 500px;
  padding: 20px;
  line-height: 16px;
  border: solid 5px #815a0a;
  border-radius: 30px;
  position: relative;
}
.text::before{
  bottom: -30px;
  border-top: 30px solid #815a0a;
}
.text::after{
  bottom: -24px;
  border-top: 30px solid #fad296;
}
.text::before,.text::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 30px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}